{% extends 'base.html' %}

{% load rangex_filters %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <h1>Lista de Hoteles</h1>
                <div class="col-md-2">
                    <a href="{% url 'backoffice:crear_hotel' %}" class="btn btn-outline-primary mb-3">
                        Crear Hotel
                    </a>
                </div>
                <div class="col-md-10">
                    <form method="GET" action="">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar por: (Hotel, Proveedor, Polo Turistico o Cadena Hotelera)" name="q" value="{{ query }}">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 text-end">
                    <!-- Crear Hotel -->
                </div>

                <div class="table-container">
                    <table class="table table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center align-middle">Nombre</th>
                                <th class="text-center align-middle">Polo Turístico</th>
                                <th class="text-center align-middle">Plan Alimenticio</th>
                                <th class="text-center align-middle">Categoría</th>
                                <th class="text-center align-middle">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hotel in hoteles %}
                            <tr>
                                <td class="text-center align-middle">{{ hotel.hotel_nombre }}</td>
                                <td class="text-center align-middle">{{ hotel.polo_turistico }}</td>
                                <td class="text-center align-middle">{{ hotel.plan_alimenticio }}</td>
                                <td class="text-center align-middle">
                                    {% for star in hotel.categoria|rangex %}
                                        <i class="fa-regular fa-star"></i>
                                    {% endfor %}
                                </td>
                                <td class="text-center align-middle">                                  
                                    <a href="{% url 'backoffice:editar_hotel' hotel.id %}" class="btn btn-outline-warning" title="Editar hotel">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'backoffice:eliminar_hotel' hotel.id %}" class="btn btn-outline-danger" title="Eliminar hotel">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                

                <!-- Paginador -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if hoteles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ hoteles.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in hoteles.paginator.page_range %}
                            {% if hoteles.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% elif num > hoteles.number|add:'-5' and num < hoteles.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if hoteles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ hoteles.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ hoteles.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}
