{% extends 'base.html' %}

{% block title %}Listar Transportistas{% endblock %}

{% block content %}
<h1>Transportistas</h1>
<a href="{% url 'backoffice:crear_transportista' %}" class="btn btn-outline-primary mb-3">Crear Transportista</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center align-middle">Nombre</th>
            <th class="text-center align-middle">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for transportista in transportistas %}
        <tr>
            <td class="text-center align-middle">{{ transportista.nombre }}</td>
            <td class="text-center align-middle">
                <a href="{% url 'backoffice:editar_transportista' transportista.pk %}" class="btn btn-outline-warning"><i class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'backoffice:eliminar_transportista' transportista.pk %}" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
