{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <h1>Lista de Reservas {% if estado %}- {{ estado|capfirst }}{% endif %}</h1>
            <div class="col-md-2">
                <a href="{% url 'backoffice:crear_reserva' %}" class="btn btn-outline-primary mb-3">
                    Crear Reserva
                </a>
            </div>
            <div class="col-md-10">
                <form method="GET" action="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por: (Hotel, Usuario, Email)" name="q" value="{{ query }}">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-end">
                <!-- Crear Reserva -->
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center align-middle">ID</th>
                        <th class="text-center align-middle">Hotel</th>
                        <th class="text-center align-middle">Usuario</th>
                        <th class="text-center align-middle">Email</th>
                        <th class="text-center align-middle">Fecha de Reserva</th>
                        <th class="text-center align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td class="text-center align-middle">{{ reserva.id }}</td>
                        <td class="text-center align-middle">{{ reserva.hotel.hotel_nombre }}</td>
                        <td class="text-center align-middle">{{ reserva.nombre_usuario }}</td>
                        <td class="text-center align-middle">{{ reserva.email_empleado }}</td>
                        <td class="text-center align-middle">{{ reserva.fecha_reserva }}</td>
                        <td class="text-center align-middle">
                            <a href="{% url 'backoffice:edit_reserva_load' reserva.pk %}" class="btn btn-outline-warning">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'backoffice:eliminar_reserva' reserva.pk %}" class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginador -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if reservas.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ reservas.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in reservas.paginator.page_range %}
                        {% if reservas.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > reservas.number|add:'-5' and num < reservas.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if reservas.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ reservas.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ reservas.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
